* {
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    background-color: lightgrey;
    color: black;
    font-family: 'Roboto', sans-serif;
}

#ratings {
    color: maroon;
}